@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../img/plantacao.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: white;
    border-bottom: 1px black;
    padding: 1em 2em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#logoMarca {
    flex: 1;
}

#logoMarca img {
    width: auto;
    height: 50px;
}

#search {
    flex: 2;
    display: flex;
    align-items: center;
}

#search input {
    width: 80%;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 10px;
}

#search #buttonpesquisar {
    position: relative;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
    background-color: #3C7785;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#search #buttonpesquisar:hover {
    background-color: black;
    border: 1px solid black;
    color: white;
}

#carrinho {
    flex: 1;
    text-align: right;
    margin-right: 30px;
}

#carrinho img {
    width: 40px;
    height: auto;
}

#login{
    flex: 1;
    text-align: right;
    margin-right: 30px;
    margin-left: 30px;
}

#login img {
    width: 40px;
    height: auto;
}

.login-carrinho{
    display: flex;
    align-items: center;
}

.voltar{
    padding: 10px;
}

.voltar #button-voltar{
    background-color: black;
    color: white;
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

 #button-voltar:hover{
    background-color: #3c7685;
}

.main{
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: top;
    width: 90%;
    height: calc(100vh - 50px - 85px);
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 6rem;
    gap: 20px;
    border-radius: 1.25rem;
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.main .carrinho{
    flex: 1;
    padding: 10px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main .carrinho h1{
    margin-bottom: 20px;
}

.main .itens-carrinho {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.main .detalhes-item{
    display: flex;
    align-items: center;
}

.main .detalhes-item img{
    max-width: 80px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.main .informacoes{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.main .informacoes input{
    width: 80px;
}

.main .remover{
    background-color: #e27d36;
    width: 40px;
}

.main .remover:hover{
    background-color: red;
}

.main .resumo {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.main .resumo p {
    margin: 5px 0;
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main .aside-left,.aside-right{
    flex: 1;
    padding: 10px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main .aside-right #lista-pagamento{
    padding: 10px;
}

.main label{
    text-align: left;
    margin-bottom: 5px;
}

.main input{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.main .detalhes-pagamento input{
    margin-bottom: 10px;
}

.main .detalhes-pagamento div{
    display: none;
}

.main .detalhes-pagamento #boleto-detalhes p{
    width: 100%;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.main .detalhes-pagamento #pix-detalhes{
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
}

.main .detalhes-pagamento #pix-detalhes p{
    width: 100%;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.main .detalhes-pagamento #pix-detalhes img{
    display: block;
    width: 150px;
    margin-top: 10px;    
}

.main button {
    padding: 10px;
    background-color: #3c7685;
    color: white;
    border: none;
    cursor: pointer;
    width: 50%;
    max-width: 100px;
    margin: 0 auto;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main button:hover {
    background-color: black;
    color: white;
}

.main #finalizar-button{
    margin-top: 10px;
}

.footer-principal {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-principal .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 20px;
}

.footer-principal .footer-content .footer-logo img{
    flex: 1;
    width: 80px;
    height: auto;
}

.footer-principal .footer-content .footer-links {
    margin-top: 10px;
}

.footer-principal .footer-content .footer-links p {
    font-weight: bold;
}

.footer-principal .footer-content .footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-principal .footer-content .footer-links ul li {
    margin: 5px 0;
}

.footer-principal .footer-content .footer-links ul li a {
    text-decoration: none;
    color: #fff;
}

.footer-legal{
    text-align: center;
    font-weight: bold;
    background-color: white;
}
