@charset "UTF-8";

@media (max-width: 480px){
    .main .detalhes-item img{
        max-width: 60px;
    }
    
    .main .informacoes input{
        width: 50px;
    }

    .main .detalhes-pagamento .boleto-detalhes #codBarra{
        font-size: 0.5em;
    }

}

@media (max-width: 991px){
    .header {
        flex-direction: column;
        align-items: center;
    }

    #logoMarca, #search, #carrinho, #perfil {
        margin: 10px 0;
        text-align: center;
    }

    #logoMarca{
        text-align: center;
        justify-content: center;
    }

    #search {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #search input {
        width: 90%;
        margin-bottom: 10px;
    }

    #search #buttonpesquisar {
        width: 30%;
        margin-bottom: 20px;
    }

    .login-carrinho{
        gap: 60px;
    }

    #login{
        margin: 0;
    }

    #carrinho{
        margin: 0;
    }
    .main{
        flex-direction: column;
        width: 80%;
        height: auto;
        padding: 2rem;
    }

    .main .aside-left, .aside-right{
        max-width: 100%;
    }

    .footer-principal .footer-content .footer-logo img {
        width: 80px;
        height: auto;
        padding: 10px;
    }
}

@media (min-width: 992px){
    .main{
     width: 85%;
     padding: 4rem 2rem 6rem 2rem;
     height: 100%;
    }
 
    .main .aside-left, .aside-right{
     max-width: 40%;
    }
 
    .main input, .main button{
     width: 90%;
    }
 }
