@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    #logoMarca, #search, #carrinho, #perfil {
        margin: 10px 0;
        text-align: center;
    }

    #search input {
        width: 90%;
    }

    #search #buttonpesquisar {
        width: 30%;
    }

    #carrinho, #perfil {
        gap: 20px;
    }

    .category-card h2 .category-card p {
        font-size: 0.8em;
    }

    i#burguer {
        display: block;
    }
    #itens{
        display: none;
    }

    .sumario{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .sumario menu ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding: 0;
    }

    .carrossel{
        padding-left: 15px;
        padding-right: 15px;
        overflow: hidden;
        gap: 10px;
    }

    .category-card {
        flex: 0 0 calc(100% / 3 - 20px);
        padding: 0.5em;
        font-size: 0.9em;
        padding: 10px;
        gap: 10px;
        height: 80%;
    }

    .carrossel-button{
        padding: 5px 10px;
    }

    .sumario nav ul li a {
        padding: 0.3em 0.5em;
        font-size: 0.8em;
    }

    .product-card {
        padding: 0.5em;
        font-size: 0.9em;
    }

    .product-card img {
        max-width: 100px;
    }

    .product-quantidade input[type="number"] {
        width: 50px;
    }

    .quantidade-button {
        padding: 0.3em 0.5em;
    }

    .adicionarCarrinho {
        height: 25px;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
        padding: 1em 2%;
    }

    .infos {
        flex-direction: column;
        padding: 20px;
        max-height: none;
    }

    .infos #chamado {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .infos #opcoes {
        flex-direction: column; 
        align-items: center;
        gap: 10px; 
    }

    .infos #opcoes #inputs {
        font-size: 14px;
        width: 80%;
        height: 30px;
    }

    .infos #opcoes #button {
        font-size: 14px;
        width: 80%;
        height: 40px;
    }

    .onde-estamos .onde-conteudo {
        flex-direction: column;
        align-items: center;
    }

    .onde-estamos #iframe {
        width: 100%;
        height: 200px;
        padding: 15px;
    }

    .footer-content .footer-logo img{
        flex: 1;
        width: 80px;
        height: auto;
        padding: 10px;
    }
}

@media (min-width: 769px) and (max-width: 991px){
    .infos #chamado {
        font-size: 15px;
    }

    .infos #opcoes #inputs {
        width: 100px;
    }
    .infos #opcoes #button {
        width: 100px;
        height: 40px;
    }

    .category-card {
        flex: 0 0 calc(100% / 3 - 20px);
    }
    .products {
        grid-template-columns: repeat(3, 1fr);
        padding: 1em 2%;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .infos #chamado {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .infos #opcoes #inputs{
        font-size: 15px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        width: 150px;
        height: 30px;
    }
    
    .infos #opcoes #button{
        font-size: 15px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        width: 150px;
        height: 50px;
        cursor: pointer;
        background-color: #e27d36;
        color: white;
    }
}
